@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #ececec;
  --secondary-color: #cecece;
  --button-color: #28d02f;
  --text-color: #f9f9f9;
}

header {
  background-color: #3e2a4a;
  height: 9vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

.logo img {
  width: 7vw;

  flex: 1;
}

.nav-bar {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

.nav-title {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: var(--text-color);
}

.nav-bar p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: var(--text-color);
}

main {
  background-color: var(--main-color);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area-cadastro {
  margin-top: 4rem;
  width: 45vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area-cadastro h2 {
  font-size: 2rem;
}

.area-cadastro h3 span {
  color: var(--button-color);
}

.formulario {
  margin-top: 1rem;
}

.formulario form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.formulario input {
  width: 45vw;
  height: 6vh;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 10px;
  text-indent: 15px;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

button {
  width: 10vw;
  height: 6vh;
  background-color: var(--button-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}