body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.header-capa {
  text-align: center;
  background-image: url('../images/capa4.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 5px 0 0px;
}

.header-capa h1 {
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  color: white
}

.header-capa p {
  position: relative;
  font-family: "Sofia", sans-serif;
  font-size: 20px;
  color: white
}

.banner {
  background-image: linear-gradient(to right top, #133d7f, #003c9e, #0038ba, #002dd4, #1b12eb);
  color: white;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: moveRight 5s infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.banner:hover {
  background-color: #e67e22;
}

header nav {
  text-align: center;
  margin: 25px 0;
}

header nav ul {
  list-style-type: none;
  
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #4c4c4c;
  font-weight: bolder;
}

header nav ul li a:hover {
  text-decoration: underline;
  color: rgb(171, 34, 34)
}

h2 {
  text-align: center;
  color: rgb(71, 71, 167);
  padding: 40px 0 20px;


}

#catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 50px 0 15px;

}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.card p {
  margin: 5px 0;
}

.buy-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 5px;
}


.buy-btn:hover {
  
  background-color: #ee1f1f;
}



@media (max-width: 768px) {
  .header-capa {
    background-image: url('../images/capa1.png');
  }

  .header-capa h1 {
    visibility: hidden;
  }

  .header-capa img {
    width: 350px;
  }

  .header-capa p {
    font-size: 20px;
  }

  header nav ul li {
    display: block;
    margin: 5px 0;
  }

  

  .card {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .header-capa h1 {
    font-size: 1.5em;
  }

  .header-capa img {
    width: 400px;
  }

  .header-capa p {
    font-size: 10px;
  }

  .card h2 {
    font-size: 1em;
  }

  .card p {
    font-size: 0.9em;
  }
}

.main_footer {
  background-color: #00b0d9;
  color: #fff;
  font-size: 0.875em;
  }

.main_footer .content {
  float: left;
  width: 100%;
  margin: 0 5%;
  
}

.container {
  float: left;
  width: 100%;
}

.colfooter {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 2em;
}


.colfooter li {
  padding: 0.2em 0em;
  list-style-type: none;
}

.colfooter  li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}

.colfooter ul li a i {
  font-size: 0.5em;
}

.colfooter ul li a:hover {
  text-decoration: none;
}

.colfooter .titleFooter {
  font-family: 'open_sansregular', sans-serif;
  font-size: 1.3em;
  color: #ffffff;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px #4ec0db solid;
}

.colfooter p {
  font-family: 'open_sanslight', sans-serif;
  color: #ffffff;
  font-size: 1em;
  height: 25px;
}

.botao {
  padding: 10px 12px;
  color: #fff;
  font-family: 'open_sansregular', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-right: 7px;
}

.botao {
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  font-family: 'open_sansregular', sans-serif;
  border: 1px solid #ffffff;
}


.main_footer_copy .m-b-footer {
  margin-bottom: 0.5em;
}

.main_footer_copy .by {
  font-size: 0.96em;
}

.main_footer_copy .by a {
  color: #fff;
  text-decoration: none;
}

.main_footer_copy .by a:hover {
  text-decoration: underline;
}

.main_footer_copy .by i {
  font-size: 0.96em;
  margin-right: 3px;
  color: #e82626;
}

@media (min-width:48em) {
  .colfooter {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 0;
  }

  .colfooter:nth-of-type(3n+0) {
    margin-right: 0;
    border-right: 0;
  }
}